# Load a scores table and compile tables to get top words in summary table

In [1]:
%load_ext lab_black

In [2]:
from pathlib import Path
import pandas as pd

### Load a score tables (ex : 7 letters starting with A)

In [3]:
df = pd.read_csv("./scores/scores_9_L.csv", header=None)
df.head()

           0          1
0  LANGERAIT   8.464555
1  LUTTERONT  17.473605
2  LANGERENT   7.826546
3  LISTERIEZ   7.081448
4  LAMPERAIT  14.081448

In [4]:
scores = dict(df.values)
# top 10 to start with
sorted(scores.items(), key=lambda x: x[1])[:10]

[('LATINISEE', 3.6621417797888394),
 ('LAITERIES', 3.998491704374057),
 ('LINEAIRES', 4.0633484162895925),
 ('LAUREATES', 4.079939668174962),
 ('LINGEATES', 4.099547511312217),
 ('LACINIEES', 4.230769230769231),
 ('LANGUITES', 4.242835595776772),
 ('LAINERIES', 4.318250377073906),
 ('LATINISER', 4.375565610859729),
 ('LAITIERES', 4.469079939668175)]

In [5]:
scores["LAITERONS"]

4.769230769230769

In [6]:
df2 = pd.read_csv("./scores/scores_7_D.csv", header=None)
df2.head()

         0          1
0  DECATIR  29.431068
1  DUPATES  46.662136
2  DRAYONS  71.728155
3  DEPARIE  33.233010
4  DANOISE  46.687379

In [7]:
scores2 = dict(df2.values)
# top 10 to start with
sorted(scores2.items(), key=lambda x: x[1])[:10]

[('DETIRES', 21.13203883495145),
 ('DERAIES', 22.50679611650485),
 ('DELIRES', 23.08446601941748),
 ('DETISER', 23.457281553398055),
 ('DETIRAS', 23.57961165048544),
 ('DERATES', 23.75145631067961),
 ('DELIRAS', 24.59126213592233),
 ('DESIRAT', 25.059223300970874),
 ('DORATES', 25.30388349514563),
 ('DILATES', 26.05631067961165)]

### Compile all tables

In [8]:
p = Path(".")
top_scores_list = []
for file in p.glob("scores/*.csv"):
    print(Path(file))
    df = pd.read_csv(Path(file), header=None)
    top_scores_list.append(
        {
            "nb_letters": Path(file).stem[7],
            "first_letter": Path(file).stem[9],
            "top_word": df.loc[df[1].idxmin()][0],
            "score": df.loc[df[1].idxmin()][1],
        }
    )

scores\scores_6_A.csv
scores\scores_6_B.csv
scores\scores_6_C.csv
scores\scores_6_D.csv
scores\scores_6_E.csv
scores\scores_6_F.csv
scores\scores_6_G.csv
scores\scores_6_H.csv
scores\scores_6_I.csv
scores\scores_6_J.csv
scores\scores_6_L.csv
scores\scores_6_M.csv
scores\scores_6_N.csv
scores\scores_6_O.csv
scores\scores_6_P.csv
scores\scores_6_R.csv
scores\scores_6_S.csv
scores\scores_6_T.csv
scores\scores_6_U.csv
scores\scores_6_V.csv
scores\scores_7_A.csv
scores\scores_7_B.csv
scores\scores_7_C.csv
scores\scores_7_D.csv
scores\scores_7_E.csv
scores\scores_7_F.csv
scores\scores_7_G.csv
scores\scores_7_H.csv
scores\scores_7_I.csv
scores\scores_7_J.csv
scores\scores_7_L.csv
scores\scores_7_M.csv
scores\scores_7_N.csv
scores\scores_7_O.csv
scores\scores_7_P.csv
scores\scores_7_R.csv
scores\scores_7_S.csv
scores\scores_7_T.csv
scores\scores_7_U.csv
scores\scores_7_V.csv
scores\scores_8_A.csv
scores\scores_8_B.csv
scores\scores_8_C.csv
scores\scores_8_D.csv
scores\scores_8_E.csv
scores\scores_8_F.csv
scores\scores_8_G.csv
scores\scores_8_H.csv
scores\scores_8_I.csv
scores\scores_8_J.csv
scores\scores_8_L.csv
scores\scores_8_M.csv
scores\scores_8_N.csv
scores\scores_8_O.csv
scores\scores_8_P.csv
scores\scores_8_R.csv
scores\scores_8_S.csv
scores\scores_8_T.csv
scores\scores_8_U.csv
scores\scores_8_V.csv
scores\scores_9_A.csv
scores\scores_9_B.csv
scores\scores_9_F.csv
scores\scores_9_H.csv
scores\scores_9_I.csv
scores\scores_9_J.csv
scores\scores_9_L.csv
scores\scores_9_N.csv
scores\scores_9_O.csv

In [9]:
compil = pd.DataFrame(top_scores_list)
compil.to_csv("top_words.csv", index=False)

### Load and visualize compilation table (top words)

In [10]:
tops = pd.read_csv(
    "top_words.csv",
)
tops.head()

   nb_letters first_letter top_word      score
0           6            A   ARITES  25.873428
1           6            B   BAISER  21.942135
2           6            C   CARIES  29.722573
3           6            D   DERAIE  17.918736
4           6            E   ETIRES  25.875585